.degrade {
    &-red {
        background: linear-gradient(0turn, darken($red, 1) 30%, $red 70%);
    }
    &-black{
        background: linear-gradient(80deg, rgba(57,57,57,1) 0%, rgba(115,115,115,1) 39%, rgba(73,73,73,1) 100%);
    }
}

.solid {
    &-red {
        color: $red;
        &-darken {
            color: darken($color: $red, $amount: 0.7);
        }
    }
}

.red {
    background: $red !important;
    transition: all .1s ease-in-out;
    &-circle {
        @extend .red;
        color: white !important;
    }
}

.white {
    background: white !important;
    transition: all .1s ease-in-out;
    &-circle {
        @extend .white;
        color: $red !important;
        &-active {
            background: $red !important;
            color: white !important;
        }
    }
}

.circle {
    &-white {
        background: {
            color: white;
        }
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 20px;
        position: relative;
        z-index: 2;
        &-1 {
            @extend .circle-white;
            padding: 10px;
        }
    }
}