extends ../templates/template.pug
block append config
    - titlePage = "Palomas"
    -subMenu = ["Aves","Ahuyentar aves","Control de aves","Riesgos de enfermedades producidas por las aves", "Especies de aves comunes"]
    -
        objBug = {
            name: "Aves",
            description: "La anidación de estas aves en su edificio le pueden suponer un riesgo para la salud o la devaluación de la propiedad",
            textPlus: "Reconocidos en control de aves."
        }
    -
        cards = [
            {
                image: "aves-1",
                title: "Ahuyentar aves",
                description: "Siga nuestros prácticos consejos para alejar las plagas de aves de su vivienda o negocio",
                link: "#"
            },
            {
                image: "aves-2",
                title: "Enfermedades derivadas de la presencia de aves",
                description: "Las aves son vectores de otra plagas y ademas transmiten enfermedades peligrosas para las personas",
                link: "#"
            },
            {
                image: "aves-3",
                title: "Control de plagas de aves",
                description: "Ofrecemos servicios de control de plagas de aves en 5 sencillos pasos",
                link: "#"
            }
        ]
    -
        
        questions = [
                        {
                        question:"¿¿Son las palomas realmente un problema?",
                        answer:"Si bien las palomas son vistas como símbolos de la Paz, son útiles en mensajería, muy simpáticas y defendidas por muchos, traen muchos otros problemas. Los excrementos de paloma ensucian continuamente veredas, muchos techos de casas, monumentos y fachadas de edificios. Pueden tapar desagües con sus nidos. El ácido úrico, blanco de sus excrementos, no es solo antiestético; puede deteriorar la pintura de los autos, corroer las canaletas de zinc, etc. "
                        },
                        {
                        question:"¿Se puede matar a las palomas?",
                        answer:`Hay varias leyes Nacionales, Provinciales y Municipales que no solo prohíben la matanza sino que protegen a las palomas 
                        Por estas razones resulta difícil para algunas personas pensar en las aves como plagas, pero algunas especies suelen invadir empresas, dando lugar a la contaminación de productos, pérdida de ingresos y daños costosos al exterior de los edificios.`
                        }
                    ]

    

block append content  
    
    section.img-service-aves
        +text-bug(objBug)

    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Plagas de aves, ¿cómo identificarlas?
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                            p
                                | Cualquier tipo de edificio es susceptible de ser colonizado por palomas y gaviotas. Tanto las palomas como las gaviotas han sabido adaptarse al medio ambiente urbano, buscando similitudes entre este y su hábitat natural.p
                                | Resulta fundamental actuar lo antes posible cuando se descubren indicios de una plaga de cucarachas, y realizar el tratamiento de desinsectación o control de plagas de cucarachas necesario, puesto que estas se reproducen rápidamente. Además de su rápida reproducción, su gran resistencia natural hace necesaria la actuación profesional para conseguir acabar con una plaga de cucarachas, no tanto por la gama de productos profesionales que pueden utilizar sino por el cómo y dónde un técnico experto sabe aplicar los distintos biocidas. 
                            p
                                |Éstas son sólo algunas de las pautas que han adoptado en este proceso de adaptación:
                                ul
                                    li Palomas y gaviotas utilizan azoteas y otras zonas aparentemente inhóspitas de los edificios para anidar. 
                                    li Balcones, cornisas, canalones o chimeneas son las zonas preferidas por estas aves. 
                                    li A las gaviotas, en particular, les gusta agruparse en grandes zonas planas como las azoteas. 
                                    li Cualquier hueco superior a 25 mm puede servir como puerta de entrada a estas plagas. 
                                    li Las palomas prefieren posarse sobre tejados a dos aguas, e incluso pueden romper o mover las tejas para anidar en el interior.
                                
                            p
                                |Cuanto más tiempo se les permita a las aves anidar o posarse en esa zona, más difícil será poder romper esa costumbre. Además las palomas son animales gregarios y una pequeña bandada puede convertirse rápidamente en un grupo de varios centenares de ejemplares.
    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Palomas y Gaviotas, señales de infestación
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                        p
                            |Reconocer los síntomas de una plaga y adoptar una solución con rapidez puede reducir drásticamente el tiempo necesario (y el dinero) para controlar eficazmente una plaga de palomas y gaviotas.
                        ul
                            li Aves posadas continuamente en tejados y cornisas. 
                            li Nidos de Aves. 
                            li Mercancias dañadas por picotazos o excrementos. 
                            li Excrementos concentrados en las zonas de posamiento. 
                            li Restos de nidos y plumas pueden bloquear canalones y sistemas de drenaje, lo que puede conducir a daños húmedo.
    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 ¿Preocupado por una infestación en sus instalaciones?
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                        p
                            |Si sospecha o tiene la certeza de tener una infestación de palomas o gaviotas, contacte inmediatamente con nuestra unidad especializada en aves.
                        p
                            |Nuestro equipo de expertos tiene una gran experiencia en la zona y cuenta con una amplia gama de sistemas no cruentos con las aves para solucionar su problema con palomas o gaviotas. ¡No deje que las plagas de aves dañen su propiedad!
    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Sistemas de control de aves
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                        p
                            |Las aves pueden convertirse en un problema que implica tomar medidas de control y protección lo más rápidamente posible. La presencia de palomas y gaviotas en su edificio pueden:
                            ul
                                li Ser un peligro para la salud, propagando enfermedades como la Ornitosis o bacterias como el E.Colli o la salmonella. 
                                li Afectar gravemente a edificios y vehículos con sus excrementos. Además con la acumulación de excrementos de palomas y gaviotas sobre superficies aumentan los riesgos de caídas por resbalones. 
                                li Atascar bajantes, desagües y canalones, atraer a sus nidos a otras plagas, como ácaros, escarabajos o pulgas y que luego estas, se extiendan por otras zonas del edificio. 
                                li Atacar a clientes y empleados al sentirse las palomas y las gaviotas amenazadas durante la época de cría.

    +steps

    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Sistemas de control de aves
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                            p 
                            |Las aves pueden convertirse en un problema que implica tomar medidas de control y protección lo más rápidamente posible. La presencia de palomas y gaviotas en su edificio pueden:
                            ul
                                li Ser un peligro para la salud, propagando enfermedades como la Ornitosis o bacterias como el E.Colli o la salmonella. 
                                li Afectar gravemente a edificios y vehículos con sus excrementos. Además con la acumulación de excrementos de palomas y gaviotas sobre superficies aumentan los riesgos de caídas por resbalones. 
                                li Atascar bajantes, desagües y canalones, atraer a sus nidos a otras plagas, como ácaros, escarabajos o pulgas y que luego estas, se extiendan por otras zonas del edificio. 
                                li Atacar a clientes y empleados al sentirse las palomas y las gaviotas amenazadas durante la época de cría.

    section#questions
        .container
            .row
                .col-12.my-3
                    h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Preguntas frecuentes acerca de las cucarachas
                    hr.grey.lighten-1.pt-1.w-100.rounded-lg                    
                    +collapse-questions(questions)

