extends ../templates/template.pug
block append config
    - titlePage = "Cucarachas "
    -subMenu = ["Cucarachas","Cucarachas en casa","Eliminar cucarachas","Como evitar las cucarachas", "Tratamiento de cucarachas","Tipos de cucarachas"]
    -
        objBug = {
            name: "Cucarachas",
            description: "Las cucarachas están asociadas a diversos riesgos para la salud",
            textPlus: "Reconocidos en control de cucarachas."
        }
    -
        cards = [
            {
                image: "cucarachas-1",
                title: "Eliminar cucarachas",
                description: "Descubra nuestros tratamientos para eliminar cucarachas",
                link: "#"
            },
            {
                image: "cucarachas-2",
                title: "Cucarachas en casa",
                description: "Como saber si tenemos una plaga de cucarachas en casa",
                link: "#"
            },
            {
                image: "cucarachas-3",
                title: "Como prevenir las cucarachas",
                description: "Consejo para evitar una plaga de cucarachas en casa ",
                link: "#"
            }
        ]
    -
        questions = [
                        {
                        question:"¿Cómo puedo saber si tengo una plaga de cucarachas?",
                        answer:"Los indicios de problemas de cucarachas se pueden identificar mediante evidencias tales como excrementos de cucarachas, marcas, restos de pieles mudadas u ootecas, daños causados por las cucarachas, olores extraños y ejemplares vivos encontrados en cocinas, lavaderos o sótanos."
                        },
                        {
                        question:"¿Qué especies de cucarachas hay en España?",
                        answer:"Hay varias especies de cucarachas encontrado en España que son: Cucaracha Alemana , Cucaracha Oriental , Cucaracha Americana , Cucaracha con banda marrón"
                        },
                        {
                        question:"¿Las cucarachas pueden volar?",
                        answer:"Sí, algunas especies son capaces de planear. Las cucarachas alemana y oriental no vuelan."
                        },
                        {
                        question:"¿Cómo puedo evitar las cucarachas?",
                        answer:"La manera más efectiva de prevenir las cucarachas es evitar el acceso a los alimentos, el agua y mantener unas óptimas condiciones de limpieza y almacenamiento. No olvide que su casa o su negocio pueden ofrecer un refugio seguro para su desarrollo."
                        },
                        {
                        question:"¿Cómo puedo eliminar las cucarachas?",
                        answer:"Existen un sinfín de productos no profesionales para eliminar cucarachas, aunque la forma más eficaz siempre es el tratamiento profesional. "
                        },
                        {
                        question:"¿Cuáles son los tratamientos para las cucarachas?",
                        answer:"Disponemos de diferentes métodos para eliminar cucarachas, los productos utilizados pueden variar: spray, gel o cebos son los más comunes."
                        },
                        {
                        question:"¿Qué tipo de productos para eliminar cucarachas existen?",
                        answer:"Como empresa profesional de control de plagas, poseemos una amplia gama de biocidas muy eficaces. La elección de uno u otro dependerá del tratamiento que sea necesario aplicar."
                        },
                        {
                        question:"¿Las cucarachas pican a las personas?",
                        answer:"La cucaracha es omnívora, es decir, se alimenta de cualquier cosa. Rara vez son suficientemente agresivas para atacar a las personas mientras están despiertas, en todo caso lo harían mientras dormimos. Sólo las especies de mayor tamaño pueden morder a través de nuestra piel."
                        },
                        {
                        question:"¿Por dónde entran las cucarachas?",
                        answer:"Las cucarachas suelen entrar en las cocinas, baños y otras zonas procedentes de arquetas, sumideros, desagües, etc. El motivo por el cual entran a las casa es porque buscan comida y refugio, por tanto es muy importante sellar herméticamente cualquier rendija que haya y por la que puedan entrar las cucarachas a tu casa."
                        },
                        {
                        question:"¿Cómo saber dónde está el nido de cucarachas?",
                        answer:"En ocasiones puede resultar difícil localizar su escondite, pero les encantan los lugares húmedos y oscuros, como sótanos, garajes y almacenes o los falsos techos de los baños, tuberías y desagües, grietas o ranuras. Inspeccionar estos lugares es el buen camino para descubrir el nido de cucarachas."    
                        }
                    ]

block append content
    
    section.img-service-cucarachas
        +text-bug(objBug)

    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Cucarachas
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                            p
                                | Las cucarachas están asociadas a diversos riesgos para la salud, sobre todo cuando se descubre una plaga de cucarachas en casa, puesto que son portadoras de diversas bacterias y pueden llegar a contagiar enfermedades como la salmonelosis, la disentería, o incluso gastroenteritis. Además, diversos estudios realizados, confirman la relación en algunos crisis asmáticas con los excrementos de cucarachas.
                            p
                                | Resulta fundamental actuar lo antes posible cuando se descubren indicios de una plaga de cucarachas, y realizar el tratamiento de desinsectación o control de plagas de cucarachas necesario, puesto que estas se reproducen rápidamente. Además de su rápida reproducción, su gran resistencia natural hace necesaria la actuación profesional para conseguir acabar con una plaga de cucarachas, no tanto por la gama de productos profesionales que pueden utilizar sino por el cómo y dónde un técnico experto sabe aplicar los distintos biocidas. 
                            

    +steps

    section
        .container
            .row
                .col-12
                    .text-left.my-5
                        h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Tratamientos para eliminar cucarachas
                        hr.grey.lighten-1.pt-1.w-100.rounded-lg
                        .text-black-50.px-2
                            p Tebemos diversos tratamientos especializados para eliminar cucarachas, la elección de uno u otro dependerá de las características específicas de su hogar o su negocio, y la severidad de la plaga de cucarachas de su casa. Es importante que usted conozca los distintos tipos de cucarachas para saber rápidamente en qué zonas se pueden ocultar.
                            |
                            p Nuestros técnicos de servicio poseen una amplia experiencia en todo tipo de tratamientos de desinsectación, desratización, etc., en definitiva todos los tratamientos de control de plagas que realizamos, y además están distribuidos por todo el territorio nacional, para así asegurar un servicio rápido, eficaz y local que le ayude a olvidarse de su problema de cucarachas lo antes posible. Nuestro servicio incluye consejos que le ayudarán a evitar que su problema de cucarachas se vuelva a reproducir.
                            |
                            p Hacemos uso de las últimas tecnologías y trabaja continuamente en desarrollar nuevos tratamientos más eficaces y rápidos, lo cual es posible gracias al profundo conocimiento de las plaga que poseemos tras más de 30 años de experiencia en España.
                            |
                            
    section#questions
        .container
            .row
                .col-12.my-3
                    h2.solid-red.font-weight-bold.text-uppercase.spacing-3 Preguntas frecuentes acerca de las cucarachas
                    hr.grey.lighten-1.pt-1.w-100.rounded-lg                    
                    +collapse-questions(questions)

