extends ../templates/template.pug
block append config
    - titlePage = "Inicio "
    - 
        let arrBug = [
            {name: "Cucarachas", htmlView: 'cucarachas.html', img: 'cockroach.svg'},
            {name: "Mosquitos", htmlView: 'mosquito.html', img: 'mosquito.svg'},
            {name: "Palomas", htmlView: 'aves.html', img: 'paloma.svg'},
            {name: "Murcielagos", htmlView: 'murcielago.html', img: 'bat.svg'},
            {name: "Ratones", htmlView: 'raton.html', img: 'rat.svg'},
            ]

block append content
    
    section.position-relative.bg-image-background.py-5
        .container.position-relative.z-index-3
            .row
                .col-sm-12
                    .text-center.text-white.my-3
                        h1.text-uppercase.lato.spacing-2.font-weight-bold.my-3 Somos expertos en control de plagas
                        a(href="contacto.html").btn.btn-success saber mas

    section.bg-success
        .container
            .row
                .col-12
                    .text-center.text-white.py-3
                        p.my-2 Pida una inspeccion al #[a(href="#").btn.btn-info.btn-sm.font-weight-bold.spacing-1.rounded-lg #[i.fab.fa-whatsapp ] Whatsapp] o dejanos un #[a(href="contacto.html").btn.btn-info.btn-sm.font-weight-bold.spacing-1.rounded-lg #[i.far.fa-envelope ] Mensaje]

    
    section.grey.lighten-2
        .container.py-3
            .row
                .col-sm-12.col-md-6.my-2
                    .d-flex.justify-content-center.align-items-center
                        i.fas.fa-check.fa-2x.text-black-50.mr-3
                        p.mb-0.text-black-50 Servicios realizados por técnicos homologados de plantilla
                .col-sm-12.col-md-6.my-2
                    .d-flex.justify-content-center.align-items-center
                        i.fas.fa-star.fa-2x.text-black-50.mr-3
                        p.mb-0.text-black-50 Damos servicio a más de 30.000 clientes en España desde 1981
    
    section
        .container
            .row
                .col-sm-12.col-md-7.mx-auto
                    .text-center.py-5
                        h2 Estoy buscando una solución para eliminar mi problema de 
                            select.custom-select.custom-select-sm.w-50 
                                each bug,i in bugs
                                    option(value="#{i}")= bug
                            |  en mi
                            select.custom-select.custom-select-sm.w-50 
                                each place,i in places
                                    option(value="#{i}")= place
                            |  lo antes posible.
                        a(href="contacto.html").btn.btn-success.my-3 Consultar ahora
    section.aqua-gradient
        .container.py-2
            .row
                +card-bug(arrBug)

    section.bg-image-contact.py-5
        .container.position-relative.z-index-3
            .row
                .col-12
                    .text-center.text-white
                        h3.font-weight-bold CONTAMOS CON MAS DE 40 AÑOS EN EL MERCADO HACIENDO LO QUE MEJOR SABEMOS HACER, ELIMINAR PLAGAS
                        a(href="contacto.html").btn.btn-success Contactar ahora