extends ../templates/template.pug
block append config
    - titlePage = "Inicio "
    - 
        let arrBug = [
            {name: "CONTROL DE MOSQUITOS Y PREVENCIÓN DEL DENGUE", htmlView: 'mosquito.html', img: 'mosquito.svg', modal: modals[0]},
            {name: "PROGRAMA DE MANEJO INTEGRADO DE PLAGAS", htmlView: 'aves.html', img: 'fas fa-globe-americas', modal: modals[1]},
            {name: "CONTROL DE PALOMAS Y MURCIELAGOS", htmlView: 'murcielago.html', img: 'bat.svg', modal: modals[2]},
            {name: "DESINSECTACIÓN", htmlView: 'cucarachas.html', img: 'cockroach.svg',modal: modals[3]},
            {name: "Desratizaciones", htmlView: 'raton.html', img: 'rat.svg', modal: modals[4]},
            {name: "DESINFECCIÓN", htmlView: '', img: 'desinfeccion.svg', modal: modals[5]}
            ]

block append content
    
    section.position-relative.bg-image-background.py-5
        .container.position-relative.z-index-3
            .row
                .col-sm-12
                    .text-center.text-white.my-3
                        h1.text-uppercase.lato.spacing-2.font-weight-bold.my-3 Somos expertos en control de plagas
                        a(href="contacto.html").btn.btn-danger.rounded-xl saber mas

    section.bg-dark
        .container
            .row
                .col-12
                    .text-center.text-white.py-3
                        p.my-2 Pida una inspeccion al #[a(href="#").btn.btn-danger.btn-sm.font-weight-bold.spacing-1.rounded-lg #[i.fab.fa-whatsapp ] Whatsapp] o dejanos un #[a(href="contacto.html").btn.btn-danger.btn-sm.font-weight-bold.spacing-1.rounded-lg #[i.far.fa-envelope ] Mensaje]

    
    section.grey.lighten-2
        .container.py-3
            .row
                .col.my-2
                    .d-flex.justify-content-center.align-items-center
                        i.fas.fa-check.fa-2x.text-black-50.mr-3
                        p.mb-0.text-black-50 Servicios realizados por técnicos homologados de plantilla

    section
        .container
            .row
                .col-sm-12.col-md-7.mx-auto
                    .text-center.py-5
                        h2 Estoy buscando una solución para controlar mi problema de 
                            select.custom-select.custom-select-sm.text-center.w-25
                                each bug,i in bugs
                                    option(value=`${i}`)= bug
                            |  en mi
                            select.custom-select.custom-select-sm.text-center.w-25
                                each place,i in places
                                    option(value=`${i}`)= place
                            |  lo antes posible.
                        a(href="contacto.html").btn.btn-danger.rounded-xl.my-3 Consultar ahora
    
    section.degrade-black
        .container.py-2
            .row
                .col-12.text-center
                    h2.lato.text-uppercase.text-white.spacing-4.font-weight-bold.my-5 nuestros servicios
            .row
                +card-bug(arrBug)

    section.bg-image-contact.py-5
        .container.position-relative.z-index-3
            .row
                .col-12
                    .text-center.text-white
                        h3.font-weight-bold.mb-4 CONTAMOS CON MAS DE 40 AÑOS EN EL MERCADO HACIENDO LO QUE MEJOR SABEMOS HACER, ELIMINAR PLAGAS
                        a(href="contacto.html").btn.btn-danger.rounded-xl Contactar ahora