extends ../templates/template.pug
block append config
    - titlePage = "Nosotros"
block append content
    .container
        .row
            .col-12
                .d-grid.nosotros-grid
                    .w-25.mx-auto.position-relative.top-40.z-index-3
                        .card.card-body.bg-dark.rounded-xl.text-center
                            img(src="./img/svg/logoFumigadoraCompletoaMofidicado.svg", alt="Logo")
                    .card.card-body.pt-5.mb-3
                        p Con mas de 40 años, Somos la empresa líder en control de plagas y desinfección, Nuestros procedimientos de calidad, nos han permitido garantizar máxima efectividad en el servicio.
                        p Nuestro objetivo principal es brindar un servicio profesional de Manejo Integrado de Plagas (MIP). Nos especializamos en desinfección, desinsectación, desratización, erradicación de palomas, entre otros.
                        p Diseñamos una estrategia precisa y a medida, para satisfacer las necesidades específicas de cada cliente, dependiendo del rubro en que se encuentra y de las características de la empresa.
                        p Profesionalismo, vocación, discreción y permanente capacitación; caracterizan a nuestro personal.
                        p Tecnología representan nuestro servicio.
                        p Nuestra empresa cuenta con la última generación en maquinaria, garantizando la efectividad de nuestro trabajo.