extends ../templates/template.pug
block append config
    - titlePage = "Nosotros"
block append content
    .container
        .row
            .col-12
                .d-grid.nosotros-grid
                    .mx-auto.position-relative.top-40.z-index-3
                        .card.card-body.bg-dark.rounded-xl.text-center
                            img(src="./img/svg/logoFumigadoraCompletoaMofidicado.svg", alt="Logo", width="200")
                    .card.card-body.pt-5.mb-3.text-center
                        h2.my-3.font-weight-bold.text-uppercase.spacing-1 Con mas de 40 años, Somos la empresa líder en control de plagas y desinfección 
                        h4.my-4 Nuestros procedimientos de calidad, nos han permitido garantizar máxima efectividad en el servicio.
                        p Nuestro objetivo principal es brindar un servicio profesional de #[span.font-weight-bold Manejo Integrado de Plagas (MIP).] 
                        p Nos especializamos en #[span.font-weight-bold desinfección, desinsectación, desratización, erradicación de palomas, entre otros].
                        p Diseñamos una estrategia precisa y a medida, para satisfacer las necesidades específicas de cada cliente, dependiendo del rubro en que se encuentra y de las características de la empresa.
                        p Profesionalismo, vocación, discreción y permanente capacitación; caracterizan a nuestro personal.
                        p Tecnología representan nuestro servicio.
                        p Nuestra empresa cuenta con la última generación en maquinaria, garantizando la efectividad de nuestro trabajo.