mixin navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        div.container
            img(src="./img/svg/logoFumigadoraCompletoaMofidicado 2.svg" height="60" alt="")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse.text-uppercase.spacing-2#basicExampleNav
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.navbar-brand(href="index.html")
                            a.nav-link(href="#") = Inicio
                    li.nav-item
                        a.navbar-brand(href="index.html")
                            a.nav-link(href="#") = Nosotros
                    li.nav-item
                        a.navbar-brand(href="index.html")
                            a.nav-link(href="#") = Contacto
                    li.nav-item dropdown
                        a(class="nav-link dropdown-toggle " id="navbarDropdownMenuLink " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ") Servicios
                        div(class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink ")
                            a.dropdown-item(href="# ") = Contacto
                            a.dropdown-item(href="# ") = Control de plagas
                            a.dropdown-item(href="# ") = Nosotros
                        