- let subMenu = []
- let objBug = {}
- let cards = []
- let questions = []
- 
    let bugsAndServices = [
        {
            id:"cucarachasBug",
            htmlView:"cucarachas.html",
            name:"Cucarachas"
        },
        {
            id:"murcielagosBug",
            htmlView:"murcielago.html",
            name:"Murcielagos"
        },
        {
            id:"palomasBug",
            htmlView:"aves.html",
            name:"Palomas"
        },
        {
            id:"mosquitosBug",
            htmlView:"mosquito.html",
            name:"Mosquitos"
        },
    ]
- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- let bugs = ['Ratones', 'Palomas', 'Murcielagos', 'Cucarachas']
- let places = ['Empresa', 'Hogar']
- let services = ['Control de mosquitos y prevencion del dengue','Programa de manejo integrado de plagas','Contol de palomas y murcielagos', 'Desinsectacion','Desinfeccion']
- 
    let modals = [
        { id:"service01",  title: "CONTROL DE MOSQUITOS Y PREVENCIÓN DEL DENGUE",  description: `<p class="my-4">Contamos con equipos alemanes de bajo y ultra-bajo volumen para realizar tratamientos especiales para el control de mosquitos en grandes áreas y prevenir así la epidemia de Dengue.</p><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`},
        { id:"service02",  title: "PROGRAMA DE MANEJO INTEGRADO DE PLAGAS",  description: `<p>Es la utilización de todos los recursos necesarios, por medio de procedimientos operativos estandarizados, para minimizar los peligros ocasionados por la presencia de plagas.</p><p><span class="font-weight-bold">El MIP</span> es un sistema que permite una importante interrelación con otros sistemas de gestión y constituye un prerrequisito fundamental para la implementación del <span class="font-weight-bold">Sistema de Análisis de Peligros</span> y <span class="font-weight-bold">Puntos Críticos de Control</span>.</p><p class="red text-white rounded-lg p-2">Realizamos estrategias personalizadas de manejo integral de plagas que se adaptan a las necesidades de cada cliente, ofreciendo una gran variedad de métodos, desde control biológico hasta químicos.</p><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`},
        { id:"service03",  title: "CONTROL DE PALOMAS Y MURCIELAGOS",  description: `<p>Visita técnica para el estudio de cada caso sin cargo y sin compromiso.</p><p>Personal capacitado y con seguro para trabajos en altura.</p><p>Palomas, palomas torcazas y gorriones</p><p>Diseñamos técnicas de ahuyentamiento ecológico mediante la instalación de sistemas de redes, pinches o cables de acero; para disuadir su instalación en lugares donde signifique un problema sanitario.</p><p class="font-weight-bold">Más de 30 años de experiencia en el control de aves, especialmente palomas y gorriones.</p><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`},
        { id:"service04",  title: "DESINSECTACIÓN",  description: `<span class="font-18 font-weight-bold">El objetivo de este servicio es el control de insectos.</span><p class="my-3">Para tal fin, se realiza una meticulosa inspección del lugar, determinando ingresos, lugares de multiplicación, especies plaga presentes y grado de infestación.</p><p class="font-14 text-center m-0 mb-3">Ofrecemos un servicio amplio con personal capacitado y productos de primera calidad para el control de insectos voladores y rastreros.</p><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`},
        { id:"service05",  title: "Desratizaciones",  description: `<p class="m-0">Inspección del área a tratar prestando especial atención en la detección de lugares de anidación y alimentación como zanjas transitadas por roedores, cabreadas donde se detecten daños, desagües y cloacas, lugares de alimentación, cuevas, madrigueras  y elementos atrayentes.</p><ul class="list-unstyled w-75 mx-auto"><li class="my-2"><i class="fas fa-check-circle mr-2"></i>  Aplicación de cebos (bloques parafinados) en aquellos lugares dónde se detecten signos como manchas grasosas, excrementos, pisadas o pelos.<ul class="mb-3 ml-3 list-unstyled"><li class="my-2"><i class="fas fa-circle fa-xs mr-2"></i> <span class="font-weight-bold">En las industrias alimenticias</span>&nbsp;se trabaja con procedimientos estandarizados, con tres barreras de control, con dispositivos inviolables, numerados, anclados y mapeados, instalados en los laterales de ingresos y a intervalos regulares en los perímetros según la magnitud de la infestación, con controles regulares, llevando estadísticas de consumos, capturas y avistamientos.</li><li class="my-2"><i class="fas fa-circle fa-xs mr-2"></i> <span class="font-weight-bold">En el interior</span> está prohibido el uso de cebos rodenticidas, se utilizan trampas adhesivas y trampas de golpe no tóxicas</li></ul></li><li class="my-3"><i class="fas fa-check-circle mr-2"></i> Los tratamientos se realizan en cualquier época del año.</li><li class="my-3"><i class="fas fa-check-circle mr-2"></i> Se deben mantener puntos de cebado permanente como elemento preventivo.</li></ul><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`},
        { id:"service06", title: "DESINFECCIÓN", description: `<p>Se basa en controlar y reducir el nivel de microorganismos patógenos (bacteria, virus, hongos, levaduras) a niveles operacionales, por medio del UBV</p><div class="d-flex justify-content-center align-items-center"> <a class="btn red font-weight-bold rounded-xl waves-effect text-white waves-light" href="contacto.html">Consultar ahora</a></div>`}
        ]