- let subMenu = []
- let objBug = {}
- let cards = []
- let questions = []
- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- let bugs = ['Ratones', 'Palomas', 'Murcielagos', 'Cucarachas']
- let places = ['Empresa', 'Hogar']