mixin text-bug(objBug)
    .container
        .col-10.mx-auto
            .d-flex.flex.column.justify-content-center.align-items-center.text-uppercase.text-center.text-white.degrade-red.rounded.rounded-lg.border-red-darken.py-3.position-relative.z-index-4.border-radius-bottom.shadow-top
                .position-absolute.icon-absolute-bug
                    i.fas.fa-bug.fa-2x.mb-3.solid-red-darken.circle-white.shadow
                h1.font-weight-bold.font-35.spacing-5.mt-4= objBug.name
                hr.border.border-white.rounded.rounded-lg.w-75.mx-auto.shadow-bottom
                p.font-11.spacing-3.px-4.mb-3= objBug.description
            .d-flex.justify-content-center.text-upperscase
                .position-rabsolute.icon-absolute-check.z-index-4
                    i.fas.fa-check.fa-2x.circle-white-1.solid-red-darken.shadow-inner-top.mb-1
                .white.rounded.rounded-lg.pt-5.px-5.mt-n5.position-absolute.z-index-3.sub-box-absolute.m-auto
                    .text-center.mt-5
                        p.pt-5.mb-3.font-11.font-weight-bold.spacing-2= objBug.textPlus